* {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  border-bottom: solid 3px #e74430;
}
header img {
  margin: 15px;
}
header h1 {
  color: #e74430;
  line-height: 100px;
}
header h1 span {
  font-size: 70%;
}
footer {
  background-color: #444;
  color: #fff;
  height: 150px;
}
footer li {
  float: left;
}
footer p {
  padding: 10px;
}
#content {
  padding: 120px;
  background-color: #fce9e7;
  min-height: 550px;
}
#content h2, #content li {
  margin: 20px 0;
}
#timer {
  font-size: 32px;
}
.file {
  display: none;
}
.left {
  float: left;
}
.menu {
  float: right;
  margin: 40px;
}
.clearfix:after {
  clear: both;
  display: block;
  content: '';
}
.copy-right {
  text-align: center;
}
.btn-laravel {
  color: #fff;
  background-color: #e74430;
  margin: 10px;
}
.btn-laravel:hover {
  background-color: #f2978b;
}
.error-message {
  color: red;
}
th, td, tr {
  padding: 5px 30px;
}
.table-content {
  width: 400px;
}
.post-table {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.post-table td {
  max-width: 400px;
}
.post-table__short {
  max-width: 400px;
}
.line_laravel th {
  border-bottom: 2px solid #e74430;
}
.calendar {
  margin: 15px auto;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
.calendar a {
  text-decoration: none;
}
.calendar th {
  background: #eee;
}
.calendar th, .calendar td {
  padding: 7px;
  text-align: center;
}
.week_0 {
  color: red;
}
.week_6 {
  color: blue;
}
.today {
  font-weight: bold;
}
.gray {
  color: #dedede;
}
.tweet {
  background-color: #e0ffff;
  margin: 10px;
  border-radius: 10px;
}
.tweet p {
  margin: 0 20px;
}
.photo {
  margin: 2px 0;
  height: 350px;
  width: 350px;
  object-fit: cover;
}
.photo__large {
  max-width: 100%;
}
